
body{
    background-color: rgb(0, 0, 0) ;
    background-repeat: no-repeat;
    background-position-x: center;
    backface-visibility: inherit;
    
}

h1{
    font-style: italic;
 font-size: 50px;
 font-weight: 200;  
}